.sub-title-left p {
    margin-bottom: 7px;
}

.sub-title-left p span {
    display: inline-block;
    margin-left: 5px;
}
.sub-title-left p span:first-child {
    margin-left: 0;
    width: 72px;
}

.sub-title-box {
    border-bottom: 1px solid #e7e7eb;
}

.edit-section h3 {
    line-height: 34px;
    border-bottom: 1px solid #e6e9eb;
    margin-bottom: 20px;
    font-size: 16px;
}

.edit-section label {
    text-align: left;
    font-weight: normal;
}

.edit-section .brand-img {
    width: 80px;
}