/********* msg-list ***********/
.msg-list:after {
    display: block;
    content: '';
    clear: both;
}

.msg-item {
    float: left;
    width: 32%;
    margin-left: 2%;
    margin-bottom: 20px;
    border: 1px solid #e7e7eb;
}

.msg-item:nth-child(3n+1) {
    margin-left: 0;
}

/********* msg-hd ***********/
.msg-hd {
    line-height: 20px;
    padding: 12px 14px;
    border-bottom: 1px solid #e7e7eb;
}

/********* msg-bd ***********/
.msg-bd {
    padding: 12px 14px;
}

.msg-title {
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.msg-thumb-wrp {
    overflow: hidden;
    height: 160px;
    margin-top: 5px;
    text-align: center;
}

.msg-desc {
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

/********* msg-ft ***********/
.msg-ft {
    border-top: 1px solid #e7e7eb;
}

.msg-opr-list:after {
    display: block;
    content: '';
    clear: both;
}

.msg-opr-item {
    float: left;
    width: 50%;
    line-height: 44px;
    border-left: 1px solid #e7e7eb;
}

.msg-opr-item:first-child {
    border-left-width: 0;
}

.msg-opr-item a {
    display: block;
    text-align: center;
    color: #222222;
}

.msg-opr-item i {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}